*.pyc
django_taggit.egg-info/
dist/
_build/
MyProject.kpf
.tox/
.runlog-cd-c-srv-lib-django-media-tree-git-pull-pip-install-e-c-srv-lib-django-media-tree-no-deps-2016-11-22T08_44_35.024000.txt
django-taggit.dot  
